@page "/"
@using HtmlBuilder.Builder
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@((MarkupString)MainXML)

<p><button type="button" @onclick="includeForm">Include Form</button></p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
  private List<Control> ControlList = new List<Control>();

  public string MainXML { get; set; }

  //
  protected override void OnInitialized() {

    // Mount form
    ComposeDummyForm mf = new ComposeDummyForm();
    ControlList.Add(mf.User());

    // Compose XML
    CtlHlp ctlHlp = new CtlHlp();
    MainXML = ctlHlp.Combine(ControlList);
  }

  // Insert HTML
  private async Task includeForm() {

    // Mount form
    ComposeDummyForm mf = new ComposeDummyForm();
    ControlList.Add(mf.User());

    // Compose XML
    CtlHlp ctlHlp = new CtlHlp();
    MainXML = ctlHlp.Combine(ControlList);

    // Update renderization
    await InvokeAsync(() => {
      base.StateHasChanged();
    });
  }
}
